*{
    margin: 0;
    padding: 0;
}


  
.apresentacao{
    background-image: url("../images/fundo-principal.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.overlay{
    background-color: rgba(0,0,0,0.5);
   /* position: absolute;*/
    height: 100%;
    width: 100%;
}

h1{
    font-family: 'Russo One', sans-serif;
    font-size: 60px !important;
}

h2{
    font-family: 'Russo One', sans-serif;
    font-size: 40px !important;
}

h3{
    font-family: 'Comforta', sans-serif;
    font-size: 40px !important;
    margin: 50px;
    margin-top: 80px;
    
    
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
    

.apresentacaotext{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.menu{
    background-color: #0d1822ce !important;

}



a{
    color: #394a5a ;
    text-decoration: none !important;
    
}

/* unvisited link */
a:link {
    color: #394a5a ;
    text-decoration: none !important ;
    
}
  
  /* visited link */
a:visited {
    color: #394a5a ;
    text-decoration: none !important ;
    
}
  
  /* mouse over link */
a:hover {
    color: #394a5a ;
    text-decoration: none !important;
    
}
  
  /* selected link */
a:active {
    color: #394a5a ;
    text-decoration: none !important ;
    
}

.nav-link{
    color: white !important;
}

.principal{
    padding-top: 50px ;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: white !important;

}

.bloco{
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: white;

}

.blocototal{
    height: auto;
    margin-top: 20px;
    width: 100%;
    background-image:  url("../images/fundo-principal.png");
    color: white;

    

}

.conteudo{
    width: 80%;
    margin: auto;
    padding: 30px;
    text-align: center;
}


.sitacao{
    font-size: 14px;
    font-style: italic;
    margin: auto;
    
}

.image{
    width: 80% !important ;
    max-width: 500px;
}

.imagenova{
    width: 80% !important ;
    max-width: 800px;
}

.footer{
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0d1822;
    color: white;
    text-align: center;
}

@media screen and (min-width: 900px) {
	.mobile{
		display: none;
    }
    .telacheia{
		display: block;
	}
	
}

@media screen and (max-width: 900px) {
	.mobile{
		display: block;
    }
    .telacheia{
		display: none;
	}
	
}





